.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.MainContent {
    border: 1px solid black;
    margin-top: 10px;
}

.Header {
    width: min-content;
    /*margin-top: 37px;*/
}

.HeaderButton {
    margin-right: 5px;
    padding: 5px;
    width: 105px;
}

.Selected {
    color: lightskyblue;
    background-color: white;
    border: 2px solid lightskyblue;
}
